{% load static %}
 
<div class="col-lg-4 login_column"  >
        <form  class="form-container form_text  login_style" role="form" action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <h1 class='cmax_text text-center ' > ConviMax </h1><br>
          <hr>
              <div  class=' '> 
                <br>
                <button type="submit" class="btn btn-danger btn-block "  ><h3>Submit</h3></button><hr>

                <h1><a class='form_text' href="">&nbsp; Don't have an account? &nbsp;  Sign Up</a></h1>

              </div>                                                         
        </form>
</div>
 

 