<!-- filters -->

    <div class="  " >  
            <div class="albums-container container-fluid filter_index text-center"
                style="width: 90%;color:#8465b3;" > 

            <h1 style="color:#6b4c9a;"> Algorithm Used </h1><hr>
                <a class="nav-link flex-column active " href="">
                <button type="button" class="text-center button_engg btn-block btn-lg">{{"KNN"|upper}}</button>
              </a><br>

              <a class="nav-link flex-column active " href="">
                <button type="button" class="text-center button_engg btn-block btn-lg">{{"logistic regression"|upper}}</button>
              </a><br>

              <a class="nav-link flex-column active" href="">
                <button type="button" class="text-center button_engg btn-block btn-lg">{{"SVM"|upper}}</button>
                </a><br>

                
                    
                      

            </div > 
    </div >  
        <!-- filters end--> 